:root{
    --primary: #EE8300;
    --secondary: #133862;
    --third: #C7C7C7;
    --blacky: #2A2929;
    --whitey: #ECEBE5;
}

.logo{
    width: 200px;
}

body{
    background-image: url(/public/media/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.text-primaryC{
    color: var(--primary);
}
.text-secondaryC{
    color: var(--secondary);
}
.text-thirdC{
    color: var(--third);
}
.text-whiteC{
    color: var(--whity);
}
.text-blackC{
    color: var(--blacky);
}


.background-primaryC{
    background-color: var(--primary);
}

.background-secondaryC{
    background-color: var(--secondary);
}

.background-accentC{
    background-color: var(--accent);
}

.background-whiteC{
    background-color: var(--whity);
}

.background-blackC{
    background-color: var(--blacky);
}

.active{
    color: var(--primary) !important;
    transform: scale(1.2);
}

.btn-link:hover{
    color:rgb(77, 222, 255);
    transform: scale(1.1);
}

.btn{
    background-color: var(--primary);
    border: var(--primary);
}

.btn:hover{
    color: var(--secondary) !important;
    transform: scale(1.1);
    background-color: var(--primary);
}

.navbar-hidden {
    display: none;
  }

#navbar{
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 650px) {
    .header{
        display:none !important;
    }
    .nav{
        background-color: var(--blacky)!important;
    }
    li{
        padding-left: 40px;
    }
}

