
:root{
    --primary: #2b3873;
    --secondary: #fbf9f1;
    --accent: #A238FF;
    --blacky: #222323;
    --whitey: #ECEBE5;

    font-family: 'Inter';
    

}

.logo{
    width: 100px;
   
   animation: glow 1s alternate infinite;
}

.logo2{
    width: 50px;
}

body{
    background-image: url('/public/media/bgfinalproject.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    font-family: 'Inter';
    
}
.seitu{
    overflow-x: hidden;
    
    
}


/* Colori Testi */

.text-primaryC{
    color: var(--primary);
}
.text-secondaryC{
    color: var(--secondary);
}
.text-accentC{
    color: var(--accent);
}
.text-whiteC{
    color: var(--whity);
}
.text-blackC{
    color: var(--blacky);
}

/* Colori BackGround */


.background-primaryC{
    background-color: var(--primary);
}

.background-secondaryC{
    background-color: var(--secondary);
}

.background-secondaryC2{
    background-color: var(--secondary) !important;
}

.background-accentC{
    background-color: var(--accent);
}

.background-whiteC{
    background-color: var(--whity);
}

.background-blackC{
    background-color: var(--blacky);
}

.activeNav{
    color: var(--accent) !important;
    transform: scale(1.2);
}

/* Sezione Bottoni */

.btn-link:hover{
    color: var(--secondary);
    transform: scale(1.1);
}

.btn{
    color: var(--accent);
    box-shadow: 1px 1px 15px 5px rgba(183, 0, 255, 0.37);
    background-color: var(--whitey);
    border: var(--whitey);
}
.btnCategory{
    box-shadow: 1px 1px 15px 5px rgba(183, 0, 255, 0.37);
    background-color: var(--accent);
    border: var(--accent);
    color: var(--whitey);
}

.btnprimaryC{
    background-color: var(--primary);
    border: var(--primary);
    color: var(--whitey);
}

.btn:hover{
    color: var(--whitey) !important;
    transform: scale(1.1);
    background-color: var(--accent);
}
.btnCategory:hover{
    color: var(--accent) !important;
    transform: scale(1.1);
    background-color: var(--whitey);
    border-color: #A238FF;
}

.card{
    
        background: linear-gradient(280deg,rgba(210, 123, 245, 0.2),rgba(255,255,255,0));
        border-radius: 10px;
        transition: all 0.3s;
        border:1px solid rgba(255, 255, 255, 0.18);
        background-color: #fbf9f100;
        
    }

.card-text, .card-body{
    color:var(--whitey);
}

.card-footer{
    background: linear-gradient(280deg,rgba(210, 123, 245, 0.2),rgba(255,255,255,0));
        border:0px solid rgba(255, 255, 255, 0.18);
        background-color: #fbf9f100;
}

.card:hover{
    transform: scale(1.1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0px 8px 50px 14px rgba(183, 0, 255, 0.37);
    border:1px solid rgba(255, 255, 255, 0.18);

}

/* Sezione Navbar */

.navbar-hidden {
    display: none;
  }

#navbar{
    transition: 0.3s;
}

@media screen and (max-width: 650px) {

    .nav{
        background-color: var(--blacky) !important ;
    }

    

    li{
        padding-left: 40px;
    }

    


}

.nav-link{
    color: white;
}

/* Fine sezione Navbar */

.formC{
        background: linear-gradient(280deg,rgba(210, 123, 245, 0.2),rgba(255,255,255,0));
        border-radius: 10px;
        border:1px solid rgba(255, 255, 255, 0.18);
        background-color: #fbf9f100;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 0px 8px 50px 14px rgba(183, 0, 255, 0.37);
               
}

navbar-nav > li > .dropdown-menu {     background-color: #dd0808;  }

.pngheader{
    transform : scale(1.6);
    margin-left: 80px;
    padding-bottom: 10px;
    overflow-y: hidden;
    
}

.home{
    opacity: 1;
    animation: glow 1s alternate infinite;
}

@keyframes glow {
    0%{ opacity: 0};
    /* 25%{ opacity: 0.70};
    50%{ opacity: 1};
    75%{ opacity: 0.70}; */
    100%{ opacity: 1};
}

.swiper-button-prev{
    color: #A238FF ;
}

.swiper-button-next{
    color: #A238FF ;
}

.mySwiper1{
    border-radius: 30px;
    /* width: 70vw;
    height: auto; */
    
 

}

.glass{
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 50px 14px rgba(210, 123, 245, 0.2);
   
}

@media screen and (max-width: 991px) {

    .home1{
        display: none;
    }
}

.glow1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
    -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
  }
  
  .glow2 {

    color: #fff;
    text-align: center;
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
    -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
  }
  

  @-webkit-keyframes glow1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #A238FF, 0 0 40px #A238FF, 0 0 50px #A238FF, 0 0 60px #A238FF, 0 0 70px #A238FF;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #A238FF, 0 0 40px #A238FF, 0 0 50px #A238FF, 0 0 60px #A238FF, 0 0 70px #A238FF, 0 0 80px #A238FF;
    }
  }

  .img-preview{
    width: 160px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

.lui{height: 50vh;}
.lei{
    width: 100%;
    height:  100%;
    object-fit: contain;
}



.btn-success:hover{
    background-color: green !important;
}
.btn-danger:hover{
    background-color: red !important;
}

/* carosello di prova */




  
  .container1 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #485461; */
    /* background-image: linear-gradient(135deg, #485461 0%, #28313b 74%); */
    overflow-x: hidden;
    transform-style: preserve-3d;
  }
  
  .navbar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
  }
  
  .menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .logonew {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
  }
  
  .logonew span {
    font-weight: 300;
  }
  
  .hamburger-menu {
    height: 4rem;
    width: 3rem;
    color: green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
  
  .bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
  }
  
  .bar:before,
  .bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
  }
  
  .bar:before {
    transform: translateY(-9px);
  }
  
  .bar:after {
    transform: translateY(9px);
  }
  
  .main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
    /* background-color: yellow; */
  }
  
  header {
    min-height: 100vh;
    width: 100%;
    background: url("bg.jpg") no-repeat top center / cover;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(43, 51, 59, 0.8); */
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }
  
  .inner {
    /* max-width: 35rem; */
    text-align: center;
    color: #fff;
    padding: 0 2rem;
    align-self: center;
  }
  
  .title {
    font-size: 2.7rem;
  }
  
  .lei2{
    width: 80%;
    height:  80%;
    object-fit: contain;
    align-self: center;

  }
  
  .btnnew {
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    background-color: #1179e7;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }
  
  .container1.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
  }
  
  .container1.active .bar:before {
    transform: translateY(0) rotate(45deg);
  }
  
  .container1.active .bar:after {
    transform: translateY(0) rotate(-45deg);
  }
  
  .container1.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
  
  @keyframes main-animation {
    from {
      transform: translate(0);
    }
  
    to {
      transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
  }
  
  .links1 {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  .links1 a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
  }
  
  .links1 a:hover {
    color: #fff;
  }
  
  .container1.active .links1 a {
    animation: appear 0.5s forwards ease var(--i);
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @keyframes hide {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  
  .shadow1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    /* background-color: white; */
  }
  
  .shadow1.one {
    z-index: -1;
    opacity: 0;
  }

  .shadow1.one1 {

    opacity: 1;
  }
  
  .shadow1.two {
    z-index: -2;
    opacity: 0;
  }
  
  .container1.active .shadow1.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5) ;
    opacity:0.5;
  }
  
  @keyframes shadow-one {
    0% {
      transform: translate(0);
    }
  
    5% {
      transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
  
    100% {
      transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
  }
  
  .container1.active .shadow1.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    opacity:0.2;

  }
  
  @keyframes shadow-two {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
  
    100% {
      transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
  }
  
  .container1.active .main:hover + .shadow1.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
  }
  
  .container1.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
  }
  

  .zindex{
    z-index: 99;
  }